*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Write CSS code below */
.left-content{
    padding: 1rem;
}
.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
}
.left-section{
    grid-column: span 1;
    background-color: #242531;
}
.right-section{
    grid-column: span 1/span 2;
    background-color: #f7f7f7;
}
.name{
    color: #f7f7f7;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.8rem;
    letter-spacing: 0.02px;
    text-transform: uppercase;
}
.profile-details{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding: 20px; */
    text-align: center;
}
.profile{
    padding: 22px;
}
.profile-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 5px white solid;
    border-radius: 30%;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #f7f7f7;
    padding-bottom: 0.5rem;
    
}
.description{
    font-size: 0.75 rem;
    text-align: center;
    color: #f7f7f7;
    padding: 1rem;
}

.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    color: #f7f7f7;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar{
    border: 1px white solid;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}
.right-main-content{
    padding: 2rem 3rem;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}
.para{
    padding: 0.5rem;
}


@media (max-width: 630px)
{
.main-content{
    grid-template-columns: repeat(1, 1fr);
    /* flex-wrap: wrap; */
}
}
@media (max-width: 673px)
{
.main-content{
    grid-template-columns: repeat(1, 1fr);
    /* flex-wrap: wrap; */
}
}

.social-media{
    display: flex;
    justify-content: space-around;
}
.personal-details{
    color: #f7f7f7;
    padding: 1rem;
}
.icon{
    padding: 0px
}
.fa-linkedin{
    color: #0097e6;
    font-size: 20px;
  }
  .fa-facebook{
    color: #0097e6;
    font-size: 20px;
  }
  .fa-twitter{
    color: #0097e6;
    font-size: 20px;
  }
  .fa-square-github{
    color: #f8f9fa;
    font-size: 20px;
  }